@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
  
  --color-primary: #F2CA50;
  --color-primary-hover: #e0b83b;
}

:root {
  --background: #0A0A0A;
  --foreground: #F4F4F5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}
